.header {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: center;
    background-color: #86baff;
}

.header img {
    width: 15%;
    margin: 0 15px;
}

body {
    background-color: #4193ff;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2% 20%;
}